<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
<body>
    <div class="container">
        <table class="table table-bordered table-hover table-zebra">
            <thead>
                <tr>
                    <th style="width: 1px;">DL</th>
                    <th>Имя</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books_list%}
                <tr>
                    <td><a href="{{book.url}}">DL</a></td>
                    <td>{{book.name}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
